# Project git ignored files

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> rapsys/airbundle ###
/..bfg-report/
/backup/
/public/image/
/public/test/
/TODROP
/composer.lock
/symfony.lock
.*.un~
*.orig
*.deadcode
###< rapsys/airbundle ###
